* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

:root {
    --margin: 16px;
    --margin-left: 250px;
}

header {
    text-align: center;
    font-size: 40px;
    background-color: rgb(197, 166, 81);
    padding: 16px;
}

body {
    background-color: rgb(129, 115, 98);
}

.container1 {
    background-color: rgb(206, 228, 156);
    padding: 20px;
    position: absolute;
    top: 72px;
    bottom: 0;
    left: 0;
    width: 250px;
    list-style-type: circle;
    margin: 0px;
}

.container2 {
    margin-left: var(--margin-left);
}

.block {
    display: inline-flex;
    flex: wrap;
    min-width: 600px;
    max-width: 800px;
    min-height: 250px;
    max-height: 350px;
    background-color: rgb(233, 214, 162);
    margin: var(--margin);
    padding: 16px;
    position: relative;
}

.block ul {
    position: absolute;
    right: 0px;
    bottom: 8px;
    max-width: 160px;
    list-style: circle;
    margin: 10px;
}

.block li {
    padding: 8px 4px 8px 0;
}

.block img {
    max-width: 65%;
    margin: 10px;
    position: absolute;
    bottom: 2px;
    left: 2px;
}

.block h2 {
    display: inline-block;
}

.email-form {
    margin-left: var(--margin-left);
}

footer {
    margin-left: var(--margin-left);
}